.home-container {
  display: flex;
}

.sidebar {
  flex: 0 0 200px; /* Sidebar width */
  background-color: #333;
  color: #fff;
  padding: 20px;
  min-height: 100vh;
  min-width: 17%;
}

.sidebar h2 {
  text-align: center;
}

.nav-link {
  color: #fff;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btns {
  display: flex;
}

.btn {
  margin-right: 10px;
}
.approved-applications {
  
  margin-bottom: 60px; /* Adjust margin as needed */
}

.inst-button,
.apply-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.last-heading {
  margin-left: 30px;
  margin-bottom: 20px;
}
.application-list table {
  width: 98%;
  border-collapse: collapse;
  border-right: 4px solid #000000;
  padding-right: 30px;
}

.application-list th,
.application-list td {
  padding: 10px;
  border: 2px solid #000000; /* Adjust border thickness */
}

.application-list th {
  background-color: #98c9fd;
  font-weight: bold;
  text-align: left;
}

.application-list tbody tr:nth-child(even) {
  background-color: #fffefe;
}
